div#main {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.507) -1rem 1rem;
          box-shadow: rgba(0, 0, 0, 0.507) -1rem 1rem;
  border-radius: 2rem;
  padding: 2rem;
  opacity: 0.75;
}

body {
  background: linear-gradient(120deg, #5bfaff, #224aff);
  color: red;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

div.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(80px, auto);
}

div.one {
  border: 3px solid black;
}

div.one:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.two {
  border: 3px solid black;
}

div.two:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.three {
  border: 3px solid black;
}

div.three:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.four {
  border: 3px solid black;
}

div.four:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.five {
  border: 3px solid black;
}

div.five:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.six {
  border: 3px solid black;
}

div.six:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.seven {
  border: 3px solid black;
}

div.seven:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.eight {
  border: 3px solid black;
}

div.eight:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.nine {
  border: 3px solid black;
}

div.nine:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.ten {
  border: 3px solid black;
}

div.ten:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.eleven {
  border: 3px solid black;
}

div.eleven:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.twelve {
  border: 3px solid black;
}

div.twelve:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.thirteen {
  border: 3px solid black;
}

div.thirteen:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.fourteen {
  border: 3px solid black;
}

div.fourteen:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.fifteen {
  border: 3px solid black;
}

div.fifteen:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.sixteen {
  border: 3px solid black;
}

div.sixteen:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.seventeen {
  border: 3px solid black;
}

div.seventeen:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.eighteen {
  border: 3px solid black;
}

div.eighteen:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.nineteen {
  border: 3px solid black;
}

div.nineteen:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.twenty {
  border: 3px solid black;
}

div.twenty:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.twenty-one {
  border: 3px solid black;
}

div.twenty-one:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.twenty-two {
  border: 3px solid black;
}

div.twenty-two:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.twenty-three {
  border: 3px solid black;
}

div.twenty-three:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.twenty-four {
  border: 3px solid black;
}

div.twenty-four:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background: linear-gradient(white, white);
  /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 10px white);
          filter: drop-shadow(0 0 10px white);
}

div#snow {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */